#footer{
    margin-top: 80px;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#footer ul{
    list-style: none;
}

#footer li{
    display: inline;
    margin: 5px;
}

#footer p{
    color: #FFFFFF;
    padding-left: 6px;
    font-size: 14px;
    text-align: center;
}